<?xml version="1.0" encoding="utf-8"?>

<!--
    Copyright 2016 LasLabs Inc.
    License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl.html).
-->

<odoo>

    <template id="webclient_bootstrap"
              inherit_id="web.webclient_bootstrap"
              name="App Drawer - Web Client"
              >

        <xpath expr="//div[@class='navbar-collapse collapse']" position="before">
            <t t-set="body_classname" t-value="''" />
            <div>Hey!!!</div>
            <!-- <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="material-icons">apps</i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img class="main-logo" src="asf-theme/static/src/img/light-logo.png" alt=""/>
                </a>
            </div> -->
        </xpath>

        <!-- <xpath expr="//ul[@class='nav']" position="before">
            <t t-set="body_classname" t-value="''" />
            <li><a id="fullscreen" href="#"><i class="material-icons">fullscreen</i> </a></li>
        </xpath> -->

    </template>

    <!-- <template id="layout_logo_show" inherit_id="website.layout" customize_show="True" name="Show Logo">
        <xpath expr="//header//a[@class='navbar-brand']" position="replace">
            <a href="/" class="navbar-brand logo">
                <img src="/logo.png" t-att-alt="'Logo of %s' % res_company.name" t-att-title="res_company.name"/>
            </a>
        </xpath>
    </template> -->

    <template id="webclient_bootstrap"
              inherit_id="web.webclient_bootstrap"
              name="AsF">
        
        <xpath expr="//nav[@id='oe_main_menu_navbar']" position="attributes">
            <attribute name="role">navigation</attribute>
        </xpath>

        <!-- <xpath expr="//ul[@class='nav']" position="before">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="material-icons">apps</i>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img class="main-logo" src="asf-theme/static/src/img/light-logo.png" alt=""/>
                </a>
            </div>
        </xpath> -->

        <!-- <xpath expr="//div[@class='navbar-header']" position="inside">
            <div>
                <a t-att-href="'/web/?debug' if debug else '/web'">
                    <img src="/asf-theme/static/src/img/light-logo.png" alt="Company Logo"/>
                </a>
            </div>
        </xpath> -->
    </template>
    
    <!-- navigation: dark to white -->
    <!-- <template id="menu" 
              inherit_id="web.menu" 
              name="Web Menu">
      <xpath expr="//ul" position="before">

        <div class="simple-logo">
          <a t-att-href="'/web/?debug' if debug else '/web'">
            <img src="/asf-theme/static/src/img/light-logo.png" alt="Company Logo"/>
          </a>
        </div>

      </xpath>
    </template> -->

    <template id="menu_secondary" inherit_id="web.menu_secondary">
      <!-- remove logo in navbar -->
      <xpath expr="//a" position="replace">
        <!-- simple moved logo into header -->
      </xpath>

      <xpath expr="//div" position="after">
        <div id="slider_strip">
          <i class="fa fa-arrow-left"></i>
        </div>
      </xpath>
    </template>

    <template id="web.menu_link_asf">
        <t t-set="debug_param" t-value="'?&amp;debug=' if debug else ''"/>
        <a t-att-href="'/web%s#menu_id=%s&amp;action=%s' % (debug_param, menu['id'], menu['action'] and menu['action'].split(',')[1] or '')"
            t-att-class="'material-ripple'"
            t-att-data-menu="menu['id']"
            t-att-data-menu-xmlid="menu.get('xmlid')"
            t-att-data-action-model="menu['action'] and menu['action'].split(',')[0] or None"
            t-att-data-action-id="menu['action'] and menu['action'].split(',')[1] or None">
                <t t-esc="menu['name']"/>
        </a>
    </template>

    <template id="web_menu_secondary" inherit_id="web.menu_secondary" name="App Drawer - Secondary Submenu">
        <xpath expr="//div[@class='o_sub_menu_content']/t"  position="attributes">
            <attribute name="class">o_sub_menu_content sidebar-nav navbar-collapse</attribute>
        </xpath>
        <xpath expr="//div[@class='o_sub_menu_content']/t"  position="replace">
            <ul class="nav" id="side-menu">
            <li class="nav-heading "> <span>Main Navigation</span></li>
            <t t-foreach="menu_data['children']" t-as="menu">
                <div data="menu_data_children" style="display: none" class="oe_secondary_menu" t-att-data-menu-parent="menu['id']">
                    <li>
                        <t t-foreach="menu['children']" t-as="menu">
                            <t t-if="menu['children']">
                                <!-- <div data="menu_children" class="oe_secondary_menu_section" t-att-data-menu-xmlid="menu.get('xmlid')">
                                    <t t-esc="menu['name']"/>
                                </div> -->
                                <li>
                                    <a href="#" class="material-ripple" aria-expanded="false">
                                        <div class="material-ink animate" style="height: 247px; width: 247px; top: -88.5px; left: -47.5px;"></div>
                                        <i class="material-icons">bubble_chart</i> <t t-esc="menu['name']"/><span class="fa arrow"></span>
                                    </a>
                                    <t t-call="web.menu_secondary_submenu"/>
                                </li>
                            </t>
                            <t t-if="not menu['children']">
                                <li>
                                    <!-- <div data="not_menu_children" class="oe_secondary_menu_section menu_link" t-att-data-menu-xmlid="menu.get('xmlid')"> -->
                                        <t t-call="web.menu_link_asf" />
                                    <!-- </div> -->
                                    <t t-call="web.menu_secondary_submenu"/>
                                </li>
                            </t>
                            <!-- <t t-call="web.menu_secondary_submenu"/> -->
                        </t>
                    </li>
                </div>
            </t>
            </ul>
        </xpath>
    </template>

</odoo>
