/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 6, 2017, 11:35:42 AM
    Author     : Use
*/


/*YOUR CUSTOM STYLE STARTED IN HERE*/
body, html {
    background-color: #1c1f22;
}

.btn {
    border-radius: 0px;
}

.o_form_view > header {
    padding-left: 14px;
    background: #2C3136;
    padding-bottom: 10px;
}

.oe_highlight {
    color: white;
    background-color: #4E8926;
    border-color: #4E8926;
}

.oe_highlight:hover {
    color: white;
    background-color: #70C734;
    border-color: #73D033;
}

.o_searchview {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 1px 25px 3px 5px;
}

.o_list_view,
.o_list_view thead,
o_list_view tfoot {
    background-color: transparent;
}

.o_list_view thead > tr > th {
    border-left: 0px solid #dfdfdf;
    color: #fff;
}

.o_list_view tbody tr:hover {
    /* border-left: 1px solid #6FB4CE; */
    color: #558B2F;
    background-color: rgba(85,139,47,.2);
}

.o_kanban_view .o_kanban_record.oe_kanban_global_click,
.o_kanban_view .o_kanban_record.oe_kanban_global_click_edit {
  background: #2C3136;
  /* background-color: rgba(85,139,47,.2); */
}

.o_kanban_view .o_kanban_record .oe_kanban_details strong {
    color: white;
}

.o_sale_order, .o_view_manager_content {
    /* background: #2c3136; */
    background: transparent;
    padding: 15px;
}

.oe_kanban_global_click.o_res_partner_kanban.o_kanban_record:hover,
.oe_module_vignette.oe_kanban_global_click.o_kanban_record:hover {
    /* background: #565759; */
    /* box-shadow: 0px 0px 2px 2px #6FB4CE; */
    /* box-shadow: 0px 0px 2px 2px #558B2F; */
    background-color: rgba(85,139,47,.2);
}
.oe_module_vignette.oe_kanban_global_click.o_kanban_record,
.oe_kanban_global_click.o_res_partner_kanban.o_kanban_record {
    -webkit-transition: all .4s ease-in-out;
}
/* 
.oe_module_vignette.oe_kanban_global_click.o_kanban_record:hover {
    background: #565759;
} */


.o_form_sheet,
.o_form_view .o_form_sheet_bg {
    /* background: #565759 !important; */
}

.o_form_sheet {
    background-color: #2c3136 !important;
}

.o_form_view .o_form_sheet_bg .o_form_sheet {
    border: 0px solid #c8c8d3 !important;
    /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); */
}

/* <!-- Content Header (Page header) --> */
.o_control_panel {
    background-color: #1c1f22;
    border-color: #3d404c;
    position: relative;
    padding: 20px 15px;
}

.o_control_panel .breadcrumb {
    float: right;
    background: #2c3136;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    padding: 7px;
    /* position: absolute; */
    /* bottom: 28px; */
    /* right: 20px; */
    border-radius: 0;
    border: 0;
    font-weight: 600;
}

.o_control_panel .breadcrumb>li>a {
    color: #fff;
}

.o_form_view .o_form_field {
    display: inline-block;
    margin-bottom: 5px;
    border-color: #1c1f22;
    background-color: #1c1f22;
}

.o_form_field:focus {
    border-color: #558B2F;
    box-shadow: none;
}

input[type="text"], 
input[type="password"], 
input[type="number"], 
textarea, select {
    border: 0px solid #ccc;
    border-radius: 0px;
    padding: 2px 4px;
    color: #fff;
    width: 100%;
    outline: none;
    display: block;
    background: #1C1F22;
}

.o_form_field {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
}

.o_form_view .o_form_required.o_form_input, 
.o_form_view .o_form_required .o_form_input, 
.o_form_view .o_form_required.o_form_textarea, 
.o_form_view .o_form_required .o_form_textarea {
    background-color: #1C1F22;
}

.o_form_view .o_form_required.o_form_input:focus {
    border-color: red;
}


.o_cal_avatar {
    border-radius: 50%;
    border: 1px solid #2C3136
}

.o_form_view .o_group .o_td_label .o_form_label {
    color: #fff;
}

.o_form_view .o_group .o_td_label {
    border-right: 1px solid #505559;
}
.o_mail_thread .o_thread_message .o_thread_message_core,
.o_mail_thread .o_thread_message .o_thread_message_core.o_mail_note {
    background-color: #eeeeee;
    background: #2c3136;
    border-color: #2c3136;
    color: #9a9da0;
    border-radius: 4px;
    padding: 1em;
}

.o_mail_chat .o_mail_chat_content .o_mail_thread {
    background: #1c1f22;
}

img.img-circle.oe_topbar_avatar {
    height: 0px;
}

.dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #3e454c;
}

.o_mail_navbar_item .o_mail_navbar_dropdown 
.o_mail_navbar_dropdown_channels 
.o_mail_channel_preview:hover {
    color: #fff;
    background-color: #3e454c;
}

.o_mail_navbar_item .o_mail_navbar_dropdown .o_mail_navbar_dropdown_channels .o_mail_channel_preview .o_channel_info .o_channel_title .o_channel_name:hover {
    color: #fff;
}

.o_mail_navbar_item .o_mail_navbar_dropdown .o_mail_navbar_dropdown_channels .o_mail_channel_preview .o_channel_info .o_channel_title .o_channel_name {
    color: #000;
}

.o_mail_navbar_item .o_mail_navbar_dropdown .o_mail_navbar_dropdown_channels .o_mail_channel_preview .o_channel_image {
    border-radius: 50%;
}


.o_form_view .oe_chatter {
    min-width: 100%;
    max-width: 100%;
}

.o_followers .o_followers_title_box .o_followers_list .o_partner > img {
    border-radius: 50%;
}

.o_mail_thread .o_thread_message .o_thread_message_sidebar .o_thread_message_avatar {
    border-radius: 50%;
    border: 1px solid #2C3136
}

/* .o_mail_thread 
.o_thread_message 
.o_thread_message_sidebar  */
.o_thread_message_avatar:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #fff;
    border-width: 10px;
    top: 15px;
}

.o_mail_chat .o_mail_chat_sidebar {
    background-color: #2C3136;
    /* opacity: 0.9; */
}

.o_mail_chat .o_mail_chat_sidebar .o_mail_sidebar_title {
    align-items: center;
    justify-content: space-between;
    margin: 0 15px 10px;
    border-bottom: 1px solid #e4e5e7;
    /* padding-bottom: 10px; */
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

.o_mail_chat .o_mail_chat_sidebar .o_mail_chat_channel_item.o_active,
.o_mail_chat .o_mail_chat_sidebar .o_mail_chat_channel_item:hover
 {
    /* background-color: #2f2f2f; */
    color: #558B2F;
    background-color: rgba(85,139,47,.2);
}

.o_web_client {
    background-color: transparent;
}

.o_mail_chat .o_mail_chat_sidebar .o_mail_chat_channel_item > .badge {
    color: white;
    background-color: #558B2F!important;
}

span.o_channel_name {
    padding: 4px;
}

.oe_secondary_menu_section {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a.oe_menu_leaf {
    color: #a5a9ad;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

.oe_secondary_menu {
    padding-left: 0;
    padding-right: 0;
}

.oe_secondary_menu_section.active {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.oe_secondary_menu_section {
    display: block;
    border-left: 3px solid transparent;
    transition: 0.3s;
    line-height: 24px;
    font-size: 15px;
    padding: 10px;
}

.oe_secondary_menu_section.active,
.oe_secondary_menu_section:hover {
    display: block;
    border-left: 3px solid transparent;
    transition: 0.3s;
    line-height: 24px;
    color: #fff;
    border-color: #f91942;
    background-color: rgba(255, 255, 255, 0.09);
    font-size: 15px;
    padding: 10px;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu_section {
    margin-left: 0px;
}


/*Sidebar menu*/

.o_sub_menu_content ul div li {
    display: block;
    border-left: 3px solid transparent;
    transition: 0.3s;
    line-height: 24px;
    font-size: 15px;
}

.o_sub_menu_content ul div li.active,
.o_sub_menu_content ul div li:hover {
    color: #fff;
    border-color: #f91942;
    background-color: rgba(255, 255, 255, 0.09);
}

.o_sub_menu_content ul div li.active,
.o_sub_menu_content ul div li.active:hover {
    border-color: #f91942;
}

.o_sub_menu_content ul div li span.nav-tag {
    background-color: rgba(255, 255, 255, 0.2);
    font-family: "Open Sans";
    font-weight: 600;
    display: inline-block;
    font-size: 11px;
    line-height: 20px;
    color: #fff;
    padding: 0;
    padding: 0 7px;
    box-sizing: border-box;
    text-align: center;
    min-width: 20px;
    height: 20px;
    letter-spacing: -0.5px;
    text-align: center;
    border-radius: 50px;
    margin-left: 4px;
}

.o_sub_menu_content ul div li span.nav-tag.green {
    background-color: #64bc36;
}

.o_sub_menu_content ul div li span.nav-tag.yellow {
    background-color: #b9be1c;
}

.o_sub_menu_content ul div li span.nav-tag.red {
    background-color: #ee3535;
}

.o_sub_menu_content .nav-heading {
    padding: 12px 15px;
    font-size: 13px;
    pointer-events: none;
    cursor: default;
    font-weight: 600;
    text-transform: uppercase;
}

.o_sub_menu_content ul div li a {
    font-weight: 500;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
}

.o_sub_menu_content ul div li div a i {
    color: #98a7b7;
    font-size: 21px;
    margin-right: 7px;
    vertical-align: middle;
}

.o_sub_menu_content ul div li:nth-child(2) a i {
    color: #558B2F;
}

.o_sub_menu_content ul div li:nth-child(3) a i {
    color: #cd6724;
}

.o_sub_menu_content ul div li:nth-child(4) a i {
    color: #f29824;
}

.o_sub_menu_content ul div li:nth-child(5) a i {
    color: #adb7be;
}

.o_sub_menu_content ul div li:nth-child(6) a i {
    color: #b348ae;
}

.o_sub_menu_content ul div li:nth-child(8) a i {
    color: #cd6724;
}

.o_sub_menu_content ul div li:nth-child(9) a i {
    color: #21a788;
}

.o_sub_menu_content ul div li:nth-child(10) a i {
    color: #E5343D;
}

.o_sub_menu_content ul div li:nth-child(11) a i {
    color: #EF6C00;
}

.o_sub_menu_content ul div li:nth-child(12) a i {
    color: #FFB61E;
}

.o_sub_menu_content ul div li:nth-child(14) a i {
    color: #428bca;
}

.o_sub_menu_content ul div li:nth-child(15) a i {
    color: #D4E157;
}

.o_sub_menu_content ul div li:nth-child(16) a i {
    color: #00B8D4;
}

.o_sub_menu_content ul div li:nth-child(17) a i {
    color: #64bc36;
}

.o_sub_menu_content .arrow {
    float: right;
}

.o_sub_menu_content .fa.arrow:before {
    content: "\f104";
}

.o_sub_menu_content .active > a > .fa.arrow:before {
    content: "\f107";
}

.o_sub_menu_content .nav-second-level li,
.o_sub_menu_content .nav-third-level li {
    border-bottom: none !important;
}

.o_sub_menu_content .nav-second-level li a {
    padding-left: 46px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.o_sub_menu_content .nav-second-level li {
    /*padding-left: 4px;*/
    background-color: transparent;
    border: 0;
}

.o_sub_menu_content .nav-third-level li a {
    padding-left: 52px;
}

.o_sub_menu_content ul div li a {
    color: #a5a9ad;
}

.nav>div>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.o_sub_menu_content ul div li a i {
    font-size: 21px;
    margin-right: 7px;
    vertical-align: middle;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_submenu > li:not(.active) > a {
    color: #a5a9ad;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    background-color: #3F4448;
}

.o_web_client > .o_main .o_sub_menu {
    border-right: 1px solid #3d404c;
    background: #2c3136;
}

.o_list_view tfoot {
    background-color: transparent;
    cursor: default;
    font-weight: bold;
    border-bottom: 1px solid #a5a9ad;
    border-top: 2px solid #a5a9ad;
    color: #fff;
}

button.btn.btn-icon.fa.fa-lg.fa-calendar.o_cp_switch_calendar, 
button.btn.btn-icon.fa.fa-lg.fa-calendar.o_cp_switch_pivot {
    background-color: #393e45;
    border-color: #4a5059;
    color: #fff;
}

.o_web_client > .o_main .o_sub_menu {
    -ms-flex: 0 0 250px;
    -moz-flex: 0 0 250px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 250px;
    flex: 0 0 250px;
}